*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #ffffff;
    font-family: "PT Sans", sans-serif;
    display: flex;
    flex-direction: column;
  }

.nav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: #89CFF0;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    background-color: #007FFF;
    color: white;
  }

  .centercard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 320px;
    justify-content: center;
    align-items: center;
    background-color: #272829;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .acctNum {
    display: flex;
    color: gray;
    justify-content: center;
  }

  .acctInfo{
    padding: 0px 20px;
    display: flex;
    color: gray;
    justify-content: space-between;
  }

  .space{
    padding: 10px 20px;
    display: flex;
    color: gray;
    justify-content: space-between;
  }

  .center {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }